In [42]:
pwd

'/Users/seungjoonlee/git/learn-datascience'

In [43]:
import pandas as pd

# Read the CSV file
data = pd.read_csv('sample/random_data.csv')

# Print the first 5 rows of the data
print(data.head())

            name  age                      country
0  Neville Hardy   56                         Niue
1    Dacia Cohen   74  Falkland Islands (Malvinas)
2  Kathey Daniel   10                     Slovenia
3   Mallie Welch   12            Equatorial Guinea
4   Katia Bryant   14                        Ghana

In [45]:
# output in csv
data.to_csv("sample/random_data_output.csv", index=False)

In [48]:
# Read the JSON file
data = pd.read_json('sample/sample_index.json')

# Print the first 5 rows of the data
print(data.head())

   fruit   size color
0  Apple  Large   Red

In [49]:
import json
# Reading the json as a dict
with open('sample/sample.json') as json_data:
    data = json.load(json_data)
pd.DataFrame(data, index=[0])

   fruit   size color
0  Apple  Large   Red

In [12]:
!pip install sqlalchemy mysql-connector-python

Requirement already satisfied: sqlalchemy in /Users/seungjoonlee/opt/anaconda3/lib/python3.9/site-packages (1.4.39)
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-py2.py3-none-any.whl (381 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 381.6/381.6 kB 6.5 MB/s eta 0:00:00[31m6.4 MB/s eta 0:00:01
Requirement already satisfied: greenlet!=0.4.17 in /Users/seungjoonlee/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-macosx_10_9_x86_64.whl (982 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 982.8/982.8 kB 22.2 MB/s eta 0:00:00m eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3

In [51]:
import sqlalchemy as sa

# Replace the following values with your actual database connection information
db_username = 'user'
db_password = 'password'
db_host = '127.0.0.1'
db_port = '3306'
db_name = 'db'

# Create a connection string (this example is for PostgreSQL)
connection_string = f'mysql+mysqlconnector://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}'

# Create a connection to the database
engine = sa.create_engine(connection_string)

In [52]:
# imported the data from: https://raw.githubusercontent.com/hhorak/mysql-sample-db/master/mysqlsampledatabase.sql

In [54]:
# Read data from the MySQL database
sql_query = f'SELECT customerNumber, customerName, phone FROM customers'
data = pd.read_sql_query(sql_query, engine)

# Print the first 5 rows of the data
print(data.head())

   customerNumber                customerName         phone
0             103           Atelier graphique    40.32.2555
1             112          Signal Gift Stores    7025551838
2             114  Australian Collectors, Co.  03 9520 4555
3             119           La Rochelle Gifts    40.67.8555
4             121          Baane Mini Imports    07-98 9555

In [21]:
!pip install openpyxl xlrd

Requirement already satisfied: openpyxl in /Users/seungjoonlee/opt/anaconda3/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: xlrd in /Users/seungjoonlee/opt/anaconda3/lib/python3.9/site-packages (2.0.1)
Requirement already satisfied: et_xmlfile in /Users/seungjoonlee/opt/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [55]:
# Read the Excel file
data = pd.read_excel('sample/sample.xlsx', sheet_name='Sheet 1')

# Print the first 5 rows of the data
print(data.head())

         Table 1 Unnamed: 1                   Unnamed: 2
0           name        age                      country
1  Neville Hardy         56                         Niue
2    Dacia Cohen         74  Falkland Islands (Malvinas)
3  Kathey Daniel         10                     Slovenia
4   Mallie Welch         12            Equatorial Guinea

In [37]:
data.to_excel("sample/sample_output.xlsx", sheet_name='Sheet 1')

In [38]:
!pip install lxml html5lib beautifulsoup4

Requirement already satisfied: lxml in /Users/seungjoonlee/opt/anaconda3/lib/python3.9/site-packages (4.9.1)
Collecting html5lib
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: beautifulsoup4 in /Users/seungjoonlee/opt/anaconda3/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: six>=1.9 in /Users/seungjoonlee/opt/anaconda3/lib/python3.9/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/seungjoonlee/opt/anaconda3/lib/python3.9/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>1.2 in /Users/seungjoonlee/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4) (2.3.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [57]:
# Sample URL containing an HTML table
url = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'

# Read the HTML tables into a list of DataFrames
tables = pd.read_html(url)

# Check the number of tables found
print(f"Number of tables found: {len(tables)}")

# Print the first table (usually the one of interest)
print(tables[1].head())

Number of tables found: 3
  Rank Country / Dependency  Population                        Date  \
  Rank Country / Dependency     Numbers % of the world         Date
0    –                World  8021758000           100%  27 Mar 2023
1    1                China  1411750000            NaN  31 Dec 2022
2    2                India  1388163000            NaN   1 Mar 2023
3    3        United States   334547000            NaN  27 Mar 2023
4    4            Indonesia   275773800            NaN   1 Jul 2022

  Source (official or from the United Nations)  \
  Source (official or from the United Nations)
0                             UN projection[3]
1                         Official estimate[4]
2                       Official projection[5]
3                 National population clock[6]
4                         Official estimate[7]

                                               Notes
                                               Notes
0                                                NaN
1  Refers to mainland China; excludes China's spe...
2  Includes the population of the India-administe...
3  Includes the 50 states and the District of Col...
4                                                NaN