In [3]:
import pandas as pd

In [5]:
# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Houston'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age           City  Salary
0    Alice   25       New York   50000
1      Bob   30  San Francisco   60000
2  Charlie   35    Los Angeles   70000
3    David   40        Chicago   80000
4      Eva   45        Houston   90000

In [6]:

# Add a new column 'Experience' to the DataFrame
df['Experience'] = [2, 5, 8, 10, 12]
print("\nDataFrame after adding 'Experience' column:")
print(df)

# Filter the data for people older than 30
older_than_30 = df[df['Age'] > 30]
print("\nPeople older than 30:")
print(older_than_30)

DataFrame after adding 'Experience' column:
      Name  Age           City  Salary  Experience
0    Alice   25       New York   50000           2
1      Bob   30  San Francisco   60000           5
2  Charlie   35    Los Angeles   70000           8
3    David   40        Chicago   80000          10
4      Eva   45        Houston   90000          12

People older than 30:
      Name  Age         City  Salary  Experience
2  Charlie   35  Los Angeles   70000           8
3    David   40      Chicago   80000          10
4      Eva   45      Houston   90000          12

In [8]:
# Calculate the average salary
average_salary = df['Salary'].mean()
print(f"\nAverage Salary: {average_salary}")

# Group by 'City' and calculate the mean of numerical columns
grouped_by_city = df.groupby('City').mean()
print("\nGrouped by City:")
print(grouped_by_city)

Average Salary: 70000.0

Grouped by City:
                Age   Salary  Experience
City
Chicago        40.0  80000.0        10.0
Houston        45.0  90000.0        12.0
Los Angeles    35.0  70000.0         8.0
New York       25.0  50000.0         2.0
San Francisco  30.0  60000.0         5.0