In [4]:
import pandas as pd

In [3]:
# Create a pandas Series from a list
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

# Display the Series
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
# Create a pandas Series with custom index labels
data = [10, 20, 30, 40, 50]
index_labels = ['A', 'B', 'C', 'D', 'E']
series = pd.Series(data, index=index_labels)

# Display the Series
print(series)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [3]:
series.head(1)

A    10
dtype: int64

In [4]:
series.tail(2)

D    40
E    50
dtype: int64

In [5]:
series.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [6]:
series.sum()

150

In [7]:
series.value_counts()

10    1
20    1
30    1
40    1
50    1
dtype: int64

In [9]:
city_population_data = {"tokyo": 37000000, "seoul": 9700000, "beijing": 21000000}

In [10]:
pd.Series(city_population_data)

tokyo      37000000
seoul       9700000
beijing    21000000
dtype: int64

In [5]:
s1 = {"a": 1, "b": 2}
s2 = {"a": 10, "b": 5, "c": 5}

In [6]:
pd.Series(s1) + pd.Series(s2)

a    11.0
b     7.0
c     NaN
dtype: float64